*{
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
 
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container{
    
    background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url("https://th.bing.com/th/id/R.ca35c44299e82405c88fb989b6e93fe0?rik=dM48tXjkuMbCXQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fa%2ff%2f6%2f1253963-top-computer-programming-wallpaper-1920x1080-for-android-tablet.jpg&ehk=Jt13bu2nJD80MHZGr6sSvP2nNQPP1nBTrgpmqK6B244%3d&risl=&pid=ImgRaw&r=0");
   background-repeat: no-repeat;
   background-size: cover;

}

.about{
    align-items: center;
    color: aliceblue;

}
.about-cont h2{
    text-align: center;
    font-size: 5rem;
    text-decoration: underline;
    line-height: 1em;
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: blue;
}
.about-cont p{
    line-height: 2rem;
    font-size: 20px;
    text-align: justify;
    margin-left: 5rem;
    margin-right: 5rem;
    
}
.about-cont h3{
    margin-left: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: underline;
    

}